<footer class="footer">
  <div class="container">
    <div class="footer-sections">
      <div class="row">
        <section class="column-small-4 footer-sections-element">
          <h2 class="footer-sections-element-heading">
            {{ site.title }} とは
          </h2>
          <div class="footer-sections-element-description">
            {{ site.description_long }}
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h2 class="footer-sections-element-heading">
            #{{ site.hashtag }}
          </h2>
          <div class="footer-sections-element-description">
            {{ site.title }} への感想や質問などは、X（旧Twitter）でハッシュタグ <a href="https://x.com/search?q=%23{{ site.hashtag }}" target="_blank" rel="noopener">#{{ site.hashtag }}</a> をご利用ください。お便りは <a href="https://docs.google.com/forms/d/e/1FAIpQLSeKNtEf5u47m1yrzDkakQiQ2ivF6zyNbKDmYBrQ1KISRJ7CYw/viewform" target="_blank">Google フォーム</a> まで。番組で紹介したグッズやコンテンツは <a href="https://arkbfm.notion.site/arkbfm/f0898c3842c34c69b530c368b1e126ae?v=158a3e60dd514e2389a48ea64d580319" target="_blank">あらB.fmショップ</a> をご覧ください。
          </div>
          <div class="footer-twitter">
            <a class="footer-post" href="https://x.com/intent/post?hashtags={{ site.hashtag }}&url={{ site.url | uri_escape }}" target="_blank" rel="noopener">#{{ site.hashtag }} でポストする</a>
          </div>
        </section>
        <section class="column-small-4 footer-sections-element">
          <h2 class="footer-sections-element-heading">
            フォローする
          </h2>
          <div class="footer-sections-element-description">
            新しいエピソードをいつものアプリで。
          </div>
          {% include subscribe-links.html place="footer" %}
        </section>
      </div>
    </div>
    <div class="footer-copyright">
      © 2020–{{ site.time | date: '%Y' }} <a href="{{ site.github.url }}/">{{ site.title }}</a>
      {% if site.google_analytics %}<p class="footer-analytics">サイトの改善のため、Google Analytics（Cookie を使用）でアクセスと再生の状況を集計しています。</p>{% endif %}
    </div>
  </div>
</footer>
