<header class="header">
  <div class="header-overlay">
    <div class="container header-container">
      <div class="header-left">
        <h1 class="header-heading">
          <a href="{{ site.github.url }}/">
            <span class="header-heading-ja">あら</span><span class="header-heading-en">B.fm</span>
          </a>
        </h1>
        <div class="header-description">
          {{ site.description }}
        </div>
      </div>
      <div class="header-search">
        <form class="header-search-form" action="{{ site.github.url | default: site.url }}/search" method="get">
          <input type="search" name="q" placeholder="エピソードを検索..."
                 class="header-search-input" autocomplete="off">
        </form>
      </div>
    </div>
  </div>
</header>
